:host {
  display: flex;
}

.admin-nav {
  width: var(--widthNavbar);
  background-color: var(--navbar);
  height: 100vh;

  &--logo {
    text-align: center;
    padding: 2em 0px;

    img {
      height: 4em;
    }
  }

  &--btn {
    width: 100%;
    text-align: left;
    padding: 0.8em;
    padding-left: 5em;
    position: relative;
    font-weight: 600;
    color: var(--fontColorA);

    &:hover {
      background-color: var(--backgroundColor);
    }

    &__active {
      color: var(--secondaryColor);
    }
  }
}
