<header>
  <!-- LOGO -->
  <!-- <div class="container-logo">
    <img src="assets/images/Logo.jpg" class="logo" alt="LogoMusicApp" />
  </div> -->

  <div class="container-nav">

    <!-- SEARCH SONGS -->
    <div class="search-songs">
      <input type="image" src="assets/images/Search.png" class="search-songs--image" />
      <input type="text" class="search-songs--input" placeholder="Search your entertainment" />
    </div>

    <!-- MENU -->
    <nav>
      <ul class="nav-right-section">
        <li>
          <a href="">
            <img src="assets/images/User.jpg" alt="Not found" />
          </a>
        </li>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="auth/login" *ngIf="!user?.rol_id">Login</a></li>
        <li><a routerLink="profile" *ngIf="user?.rol_id">Profile</a></li>
        <li><a routerLink="auth/register"*ngIf="!user?.rol_id"> Register</a></li>
        <li><a (click)="signOff()"*ngIf="user?.rol_id"> Cerrar Sesión</a></li>
      </ul>
    </nav>
  </div>
</header>