<header>

  <div class="container-nav">

    <!-- SEARCH SONGS -->
    <div class="search-songs">
      <input type="image" src="assets/images/Search.png" class="search-songs--image" />
      <input type="text" class="search-songs--input" placeholder="Search your entertainment" />
    </div>

    <!-- MENU -->
    <nav>
      <ul class="nav-right-section">
        <li>
          <a href="" *ngIf="user?.rol_id">
            <img src="assets/icon/perfil-sin-fondo.png" alt="" *ngIf="user?.thumbnail == null">
            <img [src]="user?.thumbnail" *ngIf="user?.thumbnail !== null" alt="img-profile">
          </a>
        </li>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="auth/login" *ngIf="!user?.rol_id">Login</a></li>
        <li><a routerLink="profile" *ngIf="user?.rol_id">Profile</a></li>
        <li><a routerLink="auth/register"*ngIf="!user?.rol_id"> Register</a></li>
        <li><a (click)="signOff()"*ngIf="user?.rol_id"> Cerrar Sesión</a></li>
      </ul>
    </nav>
  </div>
</header>