* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 70px;
    color: var(--fontColor);
}

a {
    text-decoration: none;
    cursor: pointer;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 10px;
    color: var(--fontColor);
}

nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
}

.search-songs {
   margin-left: 90px;
   float: left;  
}

.search {
    position: absolute;
    height: 30px;
    width: 250px;
    border-radius: 50px;
    border: 1px solid var(--grayColor);
    outline: none;
    padding-left: 10px; 
}

.search:hover {
    box-shadow: 0 1px 6px 0 var(--grayColor);
    border-color: var(--grayColor);
}

.image_search {
    padding: 7px;
    outline: none; 
}

.container-logo {
    width: 20%;
    height: 97px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid var(--grayColor);
    border-radius: 10px;
}

.container-logo img {
    padding: 0;
    max-width: 100%;
    width: auto;
    height: auto;
}

.container-nav {
    width: 74%;
    height: 35px;
    border: 1px solid var(--grayColor);
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 30px; 
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-left: 5px;
}

@media (max-width: 854px){
    
    header {
        align-items: flex-start;
        font-size: 16px;
    }

    .container-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1%;
        height: 58px;
    }

    .search {
        position: relative;
    }

    .search-songs { 
        display: flex;
        align-items: left;
    }

}




