.table {
  &--responsive {
    overflow-x: auto;
  }

  width: 100%;

  th,
  td {
    padding: 0.5em;
    text-align: left;
    font-weight: 600;
  }

  thead th {
    color: var(--mainColor);
  }

  tbody {
    td {
      color: var(--tertiaryColor);
    }

    tr {
      &:hover {
        background-color: var(--mainSecondColor);
        cursor: pointer;
      }
    }
  }
}
