$mainColor: #F51E38;
$secondaryColor: #3E2AD1;
$tertiaryColor: #0F1E36;
$backgroundColor: #F4F9FF;
$grayColor: #EEEEEE;
$grayColor-2: #C4C4C4;
$fontColor: $tertiaryColor;
$success: #0DBB66;
$danger : #F8282F;

// media query
    $breakpoint-tablet: 48em;
    $breakpoint-desktop: 64em;
    $breakpoint-desktop-lg: 75em;

:root {
  --mainColor: #F51E38;
  --secondaryColor: #3E2AD1;
  --tertiaryColor: #0F1E36;
  --backgroundColor: #F4F9FF;
  --grayColor: #EEEEEE;
  --grayColor-2: #C4C4C4;
  --fontColor: var(--tertiaryColor);
  --success: #0DBB66;
  --danger : #F8282F;
}
