:root {
  --mainColor: #81709B;
  --mainSecondColor: #2B324D;
  --mainFirstColor: #607EB0;
  --tertiaryColor: #6B5A79;
  --fourthColor: #4A4C6B;
  --fiveColor: #2b324d;
  --whiteColor: #fff;


  --background: hsl(228, 26%, 13%);
  --navbar: hsl(236, 18%, 35%);
  --fontColor: hsl(236, 18%, 75%);

  --widthNavbar: 15em;
}
