
<div class="container-body">
    <a routerLink="/home" class="return">Back</a>
    <section class="from-register">
        <h4>Registration Form</h4>
        <form [formGroup]="form">
            <input class="from-register--controls" type="text" formControlName="name" placeholder="Name">
            <input class="from-register--controls" type="text" formControlName="username" placeholder="Username">
            <input class="from-register--controls" type="email" formControlName="mail" placeholder="Mail">
            <input class="from-register--controls" type="password" formControlName="password" placeholder="Password">
        </form>
        <p>I agree with the <a>terms and conditions</a></p>
        <input class="botons" type="submit" value="Sign in" (click)="register($event)">
        <div class="login-button-container">
            <a  class="googlebuton" href="#">
              <img src="../assets/icon/google-logo.png" alt="Google logo"><span>Sign up with google</span>
            </a>
        </div>
        <p><a routerLink="/login">Do I already have an account?</a></p>
    </section>
</div>

<ngx-spinner color="white" type = "ball-scale-ripple-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<swal
  #succesfulLRegisterSwal
  title="succesful Register"
  text="Successful registration now login to live the best experience"
  icon="success"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="goToLogin()">
</swal>
<swal
  #errorRegisterSwal
  title="Error Register"
  text=" Oops !! An error occurred at the time of registration, please check the fields entered or try later"
  icon="error"
  [focusCancel]="true">
</swal>
<swal
  #notDataRegisterSwal
  title="Error Data Register"
  text="Whoops! check the corresponding fields, remember that it must be completed to register"
  icon="error"
  [focusCancel]="true">
</swal>

