
<div class="container">
    <div class="sub-container">

        <div class="artist-container">
           <div class="list-artist-container">
            <h1>Tracks</h1>
            <table class="table">
              <thead>
                <tr>
                  <th>01</th>
                  <th>+</th>
                  <th>Song</th>
                  <th>...</th>
                </tr>
              </thead>
            </table>
            <table class="table">
                <thead>
                  <tr>
                    <th>02</th>
                    <th>+</th>
                    <th>Song</th>
                    <th>...</th>
                  </tr>
                </thead>
              </table>
           </div>
        </div>

        <section class="filter-artist">
          <h2>Filter Artists</h2>
          <div class="musical-gener">
            <div class="item"><a href="#"></a>Blues</div>
            <div class="item"><a href="#"></a>Classical</div>
            <div class="item"><a href="#"></a>Country</div>
            <div class="item"><a href="#"></a>Dance</div>
            <div class="item"><a href="#"></a>Electronic</div>
            <div class="item"><a href="#"></a>Hip-Hop</div>
            <div class="item"><a href="#"></a>Jazz</div>
            <div class="item"><a href="#"></a>Latin</div>
            <div class="item"><a href="#"></a>Metal</div>
            <div class="item"><a href="#"></a>Party</div>
            <div class="item"><a href="#"></a>R&B/Soul</div>
            <div class="item"><a href="#"></a>Reggae/dancehall</div>
            <div class="item"><a href="#"></a>Soundtracks</div>
            <div class="item"><a href="#"></a>World</div>
          </div>
       </section>
    </div>
</div>