
<div class="container">
    <div class="sub-container">
      
        <div class="artist-container">
          <div class="id-artist-container">
            <div class="profile-artist">
              <figure>
                <img src="assets/images/one-ok-rock.jpeg" alt="">
              </figure>
            </div>
            <div class="name-song">
              <h1>One Ok Rock</h1>
              <div class="text">
                <div class="text1">
                  <p>Song</p>
                <h3>The song</h3>
                </div>
                <div class="text2">
                  <p>Album</p>
                <h3>Covers</h3>
                </div>
              </div>
            </div>
        </div>
        
           <div class="list-artist-container">
            <h1>Tracks</h1>
            <table class="table">
              <thead>
                <tr>
                  <th>01</th>
                  <th>+</th>
                  <th>Song</th>
                  <th>...</th>
                </tr>
              </thead>
            </table>
            <table class="table">
                <thead>
                  <tr>
                    <th>02</th>
                    <th>+</th>
                    <th>Song</th>
                    <th>...</th>
                  </tr>
                </thead>
              </table>
           </div>
        </div>

        <section class="filter-artist">
          <h1>Filter Artists</h1>
          <div class="musical-gener">
            <div class="item"><a href="#">Blues</a></div>
            <div class="item"><a href="#">Classical</a></div>
            <div class="item"><a href="#">Country</a></div>
            <div class="item"><a href="#">Dance</a></div>
            <div class="item"><a href="#">Electronic</a></div>
            <div class="item"><a href="#">Hip-Hop</a></div>
            <div class="item"><a href="#">Jazz</a></div>
            <div class="item"><a href="#">Latin</a></div>
            <div class="item"><a href="#">Metal</a></div>
            <div class="item"><a href="#">Party</a></div>
            <div class="item"><a href="#">R&B/Soul</a></div>
            <div class="item"><a href="#">Reggae/dancehall</a></div>
            <div class="item"><a href="#">Soundtracks</a></div>
            <div class="item"><a href="#">World</a></div>
          </div>
       </section>
     
    </div>
    <section class="carousel">
      <div class="carousel__container">
        <div class="carousel-item">
          <img class="carousel-item__img">
          <div class="carousel-item__details">
            <div>
              <img src="./../../../../assets/img__carrousel/play-icon.png" alt="">
              <img src="./../../../../assets/img__carrousel/plus-icon.png" alt="">
            </div>
            <p class="carousel-item__details--title">Artist</p>
            <p class="carousel-item__details--subtitle">Album</p>
          </div>
        </div>
      </div>
      <h3>Album Covers</h3>
    </section>

</div>