<div class="container-body">
    <a routerLink="/home" class="return">regresar</a>
    <section class="from-register">
        <h4>Iniciar Sesion</h4>
        <input class="controls" type="email" nombre="correo" id="correo" placeholder="Ingresa tu Usuario o Correo">
        <input class="controls" type="password" nombre="correo" id="correo" placeholder="Ingresa tu contraseña">
        <input type="checkbox" class="check-box"><span class="question-box">Recordar Contraseña</span>
        <input class="botons" type="submit" value="Entrar">
        <p><a href="#">¿Olvide mi Contrasña?</a></p>
    </section>
</div>
