<div class="container-body">
    <a routerLink="/home" class="return">regresar</a>
    <section class="from-register">
        <h4>Iniciar Sesion</h4>
        <form [formGroup]="form">
            <input class="from-register--controls"type="email" formControlName="email" placeholder="Ingresa tu Usuario o Correo">
            <div *ngIf="form.get('email').errors && form.get('email').dirty">
                <p *ngIf="form.get('email').hasError('requiered')">Este campo es requerido</p>
            </div>
            <input class="from-register--controls" type="password" formControlName="password" placeholder="Ingresa tu contraseña">
            <input type="checkbox" class="check-box"><span class="question-box">Recordar Contraseña</span>
        </form>
        <input class="botons" type="submit" value="Entrar" (click)="login($event)">
        <p><a href="#">¿Olvide mi Contrasña?</a></p>
    </section>
</div>
