.container-body{
    width: 100%;
    min-height: 100vh;
    background: var(--mainColor);
    padding: 30px;
}
.return{   
    display: block;
    background: linear-gradient(50deg, var(--mainFristColor), var(--mainColor));
    padding: 28px 30px;
    text-align: center;
    margin: auto;
    color: var(--whiteColor);
    font-size: 18px;
    font-family: 'calibri';
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: all 300ms;
    text-decoration: none;
    width: 100%;
      @media (min-width: 480px){
        width: 300px;
      } 

}

.return:hover{
    transform: translateY(10px);
    box-shadow: 0px 30px 5px -15px rgba(0, 0, 0, 0.3);
}
.from-register{
    background: var(--mainSecondColor);
    padding: 30px;
    margin: auto;
    margin-top: 25px;
    border-radius: 4px;
    font-family: 'calibri';
    color: var(--whiteColor);
    box-shadow: 7px 13px 37px #000;
     width:100%;
     @media (min-width: 480px){
      width: 400px;
    } 
         h4{
            font-size: 22px;
            margin-bottom: 20px;
        }

        p{
            text-align: center;
            font-size: 18px;
            line-height: 1.2;
        }

        a{
            color: var(--whiteColor);
            text-decoration: none;
        }
        &--controls{
            width: 100%;
            background: var(--mainSecondColor);
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 16px;
            border: 1px solid var(--mainColor);
            font-family: 'calibri';
            font-size: 18px;
            color: var(--whiteColor);   
        }
}

label:hover{
    background: rgba(0, 117, 217, 0.7);
};

.from-register a:hover {
    color:var(--whiteColor);
    text-decoration: underline;
}

.from-register .botons{
    width: 100%;
    background: var(--mainColor);
    border: none;
    padding: 12px;
    color:var(--whiteColor);
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
}

.from-register .botons:hover{
    background: rgba(0, 117, 217, 0.7);
}

.login-button-container{
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .googlebuton{
    width: 200px;
    text-align: center;
    padding: 1px 0 1px 5px;
    font-size: 16px;
    font-family: 'calibri';
    margin: 10px;
    background: var(--mainColor);
    color:var(--whiteColor);
    display: flex;
    align-items: center;
    border-radius: 1px;
    text-decoration: none;
    transition: .2s;
  }
  
  .googlebuton:hover{
    background: rgba(0, 117, 217, 0.7);
    text-decoration: none;
  }
  
  .googlebuton img{
    width: 38px;
    height: 38px;
    margin-right: 7px;
  }
  
  .googlebuton  span{
    vertical-align: middle;
    padding-bottom: 2px;
    margin-left: 5px;
  }
