

<div class="container">
    <div class="container__footer">
        <img src="./../../../../assets/img__footer/Astronauta.png" alt="">
        <div class="container__footer--text">
            <p> {{currentSong?.paused | json}} <br> Categoria</p>
        </div>
    </div>
    <div class="container__player">
        <mat-icon>replay</mat-icon>
        <mat-icon>skip_previous</mat-icon>
        <mat-icon (click)="pause()" *ngIf="currentSong && !currentSong?.paused">pause_circle_outline</mat-icon>
        <mat-icon (click)="play()" *ngIf="!currentSong || currentSong?.paused">play_circle_outline</mat-icon>
        <mat-icon>skip_next</mat-icon>
        <div class="container__player--progressBar">
        <p>{{parseTime(currentSong?.currentTime) || "0:00"}}</p>
        <mat-progress-bar mode="determinate" [value]="newTime"></mat-progress-bar>
        <p>{{parseTime(currentSong?.duration) || "0:00"}}</p>
        </div>
    </div>
</div>