

<div class="container">
    <div class="container__footer">
        <img src="./../../../../assets/img__footer/Astronauta.png" *ngIf="!sonsg?.data.thumbnail" alt="">
        <img [src]="sonsg?.data.thumbnail" *ngIf="sonsg?.data.thumbnail" alt="">
        <div class="container__footer--text">
            <p> {{sonsg?.data.name || "Titulo"}}</p>
        </div>
    </div>
    <div class="container__player">
        <div class="hover__player">
            <img src="assets/icon/undo-alt-solid.svg" alt="image-recharge">
        </div>
        <div class="hover__player">
            <img src="assets/icon/fast-backward-solid.svg" alt="image-backward">
        </div>           
        <div class="hover__player-pause">
            <img src="assets/icon/pause-solid.svg" alt="image-puse" (click)="pause()" *ngIf="currentSong && !currentSong?.paused">
        </div>
        <div class="hover__player-play">    
            <img src="assets/icon/play-solid.svg" alt="image-play" (click)="play()" *ngIf="!currentSong || currentSong?.paused">
        </div>
        <div class="hover__player">    
            <img src="assets/icon/fast-forward-solid.svg" alt="imge-forward">
        </div>
        <div class="container__player--progressBar">
        <p>{{parseTime(currentSong?.currentTime) || "00:00"}}</p>
        <mat-progress-bar mode="determinate" [value]="newTime"></mat-progress-bar>
        <p>{{parseTime(currentSong?.duration) || "0:00"}}</p>
        </div>
    </div>
</div>