

<div class="container">
    <div class="container__footer">
        <img src="./../../../../assets/img__footer/Astronauta.png" alt="">
        <div class="container__footer--text">
            <p> {{currentSong?.paused | json}} <br> Categoria</p>
        </div>
    </div>
    <div class="container__player">
        <div class="hover__player">
            <img src="assets/icon/undo-alt-solid.svg" alt="">
        </div>
        <div class="hover__player">
            <img src="assets/icon/fast-backward-solid.svg" alt="">
        </div>           
        <div class="hover__player">
            <img src="assets/icon/pause-solid.svg"  (click)="pause()" *ngIf="currentSong && !currentSong?.paused">
        </div>
        <div class="hover__player">    
            <img src="assets/icon/play-solid.svg" (click)="play()" *ngIf="!currentSong || currentSong?.paused">
        </div>
        <div class="hover__player">    
            <img src="assets/icon/fast-forward-solid.svg" alt="">
        </div>
        <div class="container__player--progressBar">
        <p>{{parseTime(currentSong?.currentTime) || "0:00"}}</p>
        <mat-progress-bar mode="determinate" [value]="newTime"></mat-progress-bar>
        <p>{{parseTime(currentSong?.duration) || "0:00"}}</p>
        </div>
    </div>
</div>