<h2>Artist Data: </h2>
<div class="table--responsive">
  <table class="table">
    <thead>
      <tr>
        <th>name</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let artis of artist; let i = index">
        <td>{{artis.name}}</td>
        <td>
          <a class="btn table--btn" [routerLink]="['edit',artis.id]">
            Edit
          </a>
          <a class="btn table--btn btn-danger">
            Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
