<p>landing-page works!</p>
 <header>
     <div class="text">
        <h1 class="title"></h1>
        <h3 class="subtitle"></h3>
        <a href="#" class="boton">Log in</a>
     </div>
     <!-- <div class="sesgoabajo"></div> -->
 </header>

 <main>
     <section class="about">
        <h2 class="about-us">About Us</h2>
        <h3 class="slogan">Tirando Codigo</h3>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eum sequi eos non saepe! Excepturi veniam dolorum neque amet voluptatem incidunt cumque suscipit velit labore, quod perferendis minus? Laudantium placeat exercitationem, error nemo molestias at unde doloribus quam laboriosam, voluptatum, sunt soluta rerum! At fugit odio temporibus? Et, debitis natus id, labore, quisquam at voluptatibus mollitia voluptate ipsam qui aspernatur nesciunt officiis quaerat dolorem culpa ducimus ex sunt assumenda a.</p>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eum sequi eos non saepe! Excepturi veniam dolorum neque amet voluptatem incidunt cumque suscipit velit labore, quod perferendis minus? Laudantium placeat exercitationem, error nemo molestias at unde doloribus quam laboriosam, voluptatum, sunt soluta rerum! At fugit odio temporibus? Et, debitis natus id, labore, quisquam at voluptatibus mollitia voluptate ipsam qui aspernatur nesciunt officiis quaerat dolorem culpa ducimus ex sunt assumenda a.</p>
        <a href="#" class="boton">Log in</a>
    
     </section>
     <section class="galeria">
         <!-- <div class="sesgoarriba"></div> -->
         <div class="images">
             <img src="assets/images/one-ok-rock.jpeg" alt="">
        </div>
         <div class="images">
             <img src="assets/images/one-ok-rock.jpeg" alt="">
         </div>
         <div class="images">
             <img src="assets/images/one-ok-rock.jpeg" alt="">
        </div>
         <div class="images">
             <img src="assets/images/one-ok-rock.jpeg" alt="">
        </div>
         <div class="images">
             <img src="assets/images/one-ok-rock.jpeg" alt="">
        </div>
     </section>
 </main>