:host {
  background-color: var(--backgroundColor);
}

// BANNER
.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;

  ul {
    display: flex;
    width: 400%;

    animation: cambio 20s infinite alternate linear;
  }

  li {
    width: 100%;
    list-style: none;
  }

  img {
    width: 100%;
  }
}

@keyframes cambio {
  /*Image One */
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  /*Image Two */
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  /*Image Three */
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  /*Image Four */
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

// PLAY LIST

.table {
  border-spacing: 0;

  &--responsive {
    padding: 0.4em;
  }

  tbody {
    tr {
      transition-duration: 0.3s;
      &:hover {
        box-shadow: 0 0 0.5em 0px #a7a7a7;
        border-radius: 0.5em;
      }

      td {
        &:first-child {
          border-radius: 0.5em 0 0 0.5em;
        }
        &:last-child {
          border-radius: 0 0.5em 0.5em 0;
        }
      }
    }
  }

  &--btn {
    padding: 0.5em 2em;

    &:not(:last-child) {
      margin-right: 0.5em;
    }

    &:hover {
      background-color: var(--backgroundColor);
    }
  }
}

.filter-songs {
  display: flex;
  align-items: center;
  margin: 2em 1em 0;

  @media (max-width: 700px) {
    display: none;
  }

  &--input {
    height: 30px;
    width: 250px;
    border-radius: 50px;
    border: 1px solid var(--fourthColor);
    outline: none;
    padding-left: 10px;
    background-color: var(--fourthColor);
    color: white;

    &:hover {
      box-shadow: 0 1px 6px 0 var(--grayColor);
      border-color: var(--tertiaryColor);
    }
  }

  ::-webkit-input-placeholder {
    color: var(--whiteColor);
  }

  &--image {
    --sizeIcon: 1.8em;
    height: var(--sizeIcon);
    min-width: var(--sizeIcon);
    margin-right: 1em;
  }
}
.hover__player{
  width: 30px;
  height: 15px;
  margin: 0px 5px;
  border-radius: 50%;
  transition: all .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
