<div class="slider">
  <ul>
    <li *ngFor="let img of images">
      <img [src]="img" alt="Imagen del Banner">
    </li>
  </ul>
</div>

<h1 class="carousel--h1">Featured Tracks</h1>
<section class="carousel">
  <div class="carousel__container">
    <div class="carousel-item" *ngFor="let song of songs?.data">
      <img class="carousel-item__img" [src]="song?.thumbnail" alt="">
      <div class="carousel-item__details">
        <div>
          <img src="./../../../../assets/img__carrousel/play-icon.png" alt="" (click)="playSong(song?.id)">
          <img src="./../../../../assets/img__carrousel/plus-icon.png" alt="">
        </div>
        <p class="carousel-item__details--title">{{song?.name}}</p>
        <p class="carousel-item__details--subtitle">{{song?.genre}}</p>
      </div>
    </div>
  </div>
</section>

<input type="text" name="filterpost" [(ngModel)]="inputFilter">
<!-- {{ inputFilter.value }} -->
<div class="table--responsive">
  <h1>Top Tracks</h1>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <!-- <th></th> -->
        <th>Song</th>
        <th>Artist</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of songs?.data | filter:filterPost">
      <!-- <tr *ngFor="let song of songs?.data"> -->
      <!-- <tr *ngFor="let song of songs?.data"> -->
        <td>{{song?.id}}</td>
        <td>{{song?.name}}</td>
        <td>{{song?.duration}}</td>
      </tr>
    </tbody>
  </table>
</div>
