// BANNER
.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    width: 400%;

    animation: cambio 20s infinite alternate linear;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    
}

@keyframes cambio {
    /*Image One */
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }

    /*Image Two */
    25%{
        margin-left: -100%;
    }
    45%{
        margin-left: -100%;
    }

    /*Image Three */
    50%{
        margin-left: -200%;
    }
    70%{
        margin-left: -200%;
    }

    /*Image Four */
    75%{
        margin-left: -300%;
    }
    100%{
        margin-left: -300%;
    }
}

// CAROUSEL

.carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}

.carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

.carousel-item {
    background-color: palevioletred;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover ~ .carousel-item:hover {
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 9px;
    opacity: 0;
    transition: 450 ms opacity;
    padding: 10px 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.carousel-item__details img{
    height: 15px;
}

.carousel-item__details p{
    margin: 0px;
}

.carousel-item__details:hover {
    opacity: 1;
    color: white;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
    display: none;
}

.carousel::-webkit-scrollbar {
    background-color: rgba(255,255,255,0.1);
}

// PLAY LIST

:host {
    flex-grow: 1;
    padding: 2em 1em 0;
    background-color: var(--backgroundColor);
  }
  
  .table {
    border-spacing: 0;
  
    &--responsive {
      padding: 0.4em;
    }
  
    tbody {
      tr {
        transition-duration: 0.3s;
        &:hover {
          background-color: #fff;
          box-shadow: 0 0 0.5em 0px #a7a7a7;
          border-radius: 0.5em;
        }
  
        td {
          &:first-child {
            border-radius: 0.5em 0 0 0.5em;
          }
          &:last-child {
            border-radius: 0 0.5em 0.5em 0;
          }
        }
      }
    }
  
  
    &--btn {
      padding: 0.5em 2em;
  
      &:not(:last-child) {
        margin-right: 0.5em;
      }
  
      &:hover {
        background-color: var(--backgroundColor);
      }
    }
  }