<section class="container">
  <div class="sub-container">
    <div class="profile-image">
      <figure>
        <img
          src="assets/icon/perfil-sin-fondo.png"
          alt=""
          *ngIf="user.thumbnail == null"
        />
        <img
          [src]="user?.thumbnail"
          *ngIf="user.thumbnail !== null"
          alt="img-profile"
        />
      </figure>
      <div class="user-name">
        <p>User</p>
        <h1>{{ user?.username }}</h1>
        <div class="admin-button">
          <a routerLink="/admin/users">Admin</a>
        </div>
      </div>
    </div>

    <div class="admin-menu">
      <a href="#">OVERVIEW</a>
      <a href="#">PUBLIC PLAYLISTS</a>
      <a href="#">FOLLOWING(0)</a>
    </div>

    <div class="title-playlist">
      <h2>Public Playlist</h2>
    </div>

    <div class="album-image"> 

      <div class="album-image--container">
        <img src="assets/img__carrousel/carly.jpg" alt="Image Album" />
        <div class="album-image--details">
          <p>Music Carly</p>
          <a href="#">0 FOLLOWERS</a>
        </div>
      </div>

      <div class="album-image--container">
        <img src="assets/img__carrousel/lilNas.jpg" alt="Image Album" />
        <div class="album-image--details">
          <p>Music lilNas</p>
          <a href="#">0 FOLLOWERS</a>
        </div>
      </div>
    </div>
  </div>
</section>
