
<section class="container">
   <div class="sub-container">
        <div class="profile-image">
            <figure>
                <img src="assets/icon/perfil-sin-fondo.png" alt="">
            </figure>
           <div class="user-name">
            <p>user</p>
            <h1>Jcamiloguerrero</h1>
                <div class="admin-button">
                    <a href="#">Adim</a>
                </div>
           </div>
        </div>

        <div class="admin-menu">
            <a href="#">OVERVIEW</a>
            <a href="#">PUBLIC PLAYLISTS</a>
            <a href="#">FOLLOWING(0)</a>
        </div>
        <div class="album-image">
            <h2>Public Playlist</h2>
                <img src="assets/icon/carly.jpg" alt="">
            <p>Carly</p>
            <a href="#">0 FOLLOWERS</a>
        </div>
   </div>
  </section>