
.container{
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
  }

.sub-container{
    width: 100%;
    min-height: 100vh;
    margin-top: 25px;
    background: linear-gradient(var(--fiveColor),var(--tertiaryColor));
    border-radius: 5px;
    padding: 50px 30px;

        @media (max-width: 375px){
            padding: 30px 10px;
        } 
        @media (max-width: 320px){
            width: auto;
        } 
}

.profile-image{
    height: 250px;
    display: flex;
    margin-left: 40px;
    img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow:1px 1px 15px 5px rgba(0, 0, 0, 0.55);
    }
    @media (max-width: 540px){
        display: block;
        text-align: center;
    }
    @media (max-width: 375px){
        margin-left: 0;
    } 
    @media (max-width: 320px){
        margin-left: 0;
    } 
}


.user-name{
    width: 100%;
    padding: 35px 0px 80px 50px;
    color: var(--whiteColor);
    h1{
        font-size: 45px;
        margin-top: 20px;
        @media (max-width: 320px){
            font-size: 35px;
        } 
    }

    .admin-button{
        width: 90px;
        height: 40px;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-top: 45px;
        cursor: pointer;
        transition: all 0.5s ease;
        a{
            width: 90px;
            text-align: center;
            color: var(--whiteColor);
            text-decoration: none;
        }
        @media (max-width: 540px){
            margin-top: 25px;
      } 
      
    }

    .admin-button:hover{
        background: var(--mainFirstColor);
    }
    @media (max-width: 540px){
        padding: 15px 0;
  } 
  @media (max-width: 320px){
    
} 
}



.admin-menu{
    height: 30px;
    margin-top: 20px;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    a{
        color: rgb(141, 141, 141);
        text-decoration: none;
    }
    @media (max-width: 540px){
        margin-top: 130px;
        padding: 0;
    } 
     @media (max-width: 320px){
        font-size: 11px;
    }
}

.admin-menu a:hover{
    color: var(--whiteColor);
    border-bottom: 3px solid var(--mainFirstColor);
}

.album-image{
    height: 600px;
    margin-top: 50px;
    margin-left: 40px;
    color: var(--whiteColor);
    a{
        color:rgb(141, 141, 141);
        text-decoration: none;
    }
    @media (max-width: 540px){
        text-align: center;
    } 
    @media (max-width: 375px){
        text-align: center;
        margin: 0;
    } 
    @media (max-width: 320px){
        margin-top: 50px;
    }
}
